.ticket{
    position:relative;
    width:420px;
    margin:auto;
}

.fond{
    width:100%;
    display:block;
}

#qrcode{
    position:absolute;

    top:365px;
    left:110px;

    background:white;
    padding:10px;
    border-radius:10px;
}

#numero{
    position:absolute;

    top:650px;

    width:100%;

    text-align:center;

    font-size:32px;

    font-weight:bold;

    color:#002B7F;

    letter-spacing:3px;
}

#qrcode{
    position:absolute;
    top:300px;
    left:120px;
    z-index:10;
    background:white;
    padding:8px;
    border-radius:8px;
}

#numero{
    position:absolute;
    top:580px;
    left:0;
    width:100%;
    text-align:center;
    z-index:10;
}
