body{
    margin:0;
    padding:30px;
    background:#f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
}

.ticket{

    width:420px;

    margin:auto;

    background:linear-gradient(
        180deg,
        #0057B8 0%,
        #0057B8 50%,
        #D21034 50%,
        #D21034 100%
    );

    color:white;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.ticket h1{

    margin:0;
    font-size:34px;
    color:#fff;

}

.ticket h2{

    margin:15px 0;
    font-size:24px;

}

.ticket h3{

    margin-bottom:25px;
    font-size:20px;

}

.qr{

    background:white;

    padding:15px;

    border-radius:20px;

    display:inline-block;

}

.qr img{

    width:220px;

}

#numero{

    font-size:34px;

    margin-top:20px;

    letter-spacing:3px;

}

p{

    font-size:20px;

    margin:8px;

}

small{

    display:block;

    margin-top:25px;

    font-size:16px;

}
